<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/svg/2979/2979344.svg" %>
  <% end %>
  <p class="title">Mister cocktail</p>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= simple_form_for :search, url: root_path, method: :get, :html=> { class: "search-form-control mr-5", id: "search-form" } do |f| %>
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search for a cocktail"/>
      <%= link_to  "/#", type: "submit", class: "btn-search" do %>
         <i class="fas fa-search"></i>
      <% end %>
    <% end %>
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to  "New cocktail", new_cocktail_path, class: "btn btn-warning btn-new" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row justify-content-between mt-5">
      <% @cocktails.each do |cocktail| %>

        <div class="card-category col-12 col-md-5 col-lg-3 m-3 flex-column text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key, crop: :fill %>')">
          <%= cocktail.name %>
          <%= link_to "See details", cocktail_path(cocktail.id), class: "details" %>
        </div>

        <%
=begin%>
 <% if cocktail.photo %> 
          <div class="card-category col-3 mx-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key, crop: :fill %>')">
            <%= cocktail.name %>
            <%= link_to "See details", cocktail_path(cocktail.id) %>
          </div>
        <% else %>
          <div class="card-category col-3 mx-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://i.pinimg.com/564x/c5/f1/bc/c5f1bca2f250ddcc774135392ea52ad5.jpg')">
            <%= cocktail.name %>
            <%= link_to "See details", cocktail_path(cocktail.id) %>
          </div>
        <% end %> 
<%
=end%>
      <% end %>
  </div>
</div>