<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to  "Create a new cocktail", new_cocktail_path, class: "btn btn-warning" %>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <h1>Cocktails</h1>
  <div class="row ">
      <% @cocktails.each do |cocktail| %>

        <% if cocktail.photo %> 
          <div class="card-category col-3 mx-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key, crop: :fill %>')">
          <%= cocktail.name %>
          <%= link_to "See details", cocktail_path(cocktail.id) %>
          </div>
        <% else %>
          <div class="card-category col-3 mx-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://i.pinimg.com/564x/c5/f1/bc/c5f1bca2f250ddcc774135392ea52ad5.jpg')">
          <%= cocktail.name %>
          <%= link_to "See details", cocktail_path(cocktail.id) %>
          </div>
        <% end %>

      <div class="card-category col-3 mx-3" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key, crop: :fill %>')">
        <%= cocktail.name %>
        <%= link_to "See details", cocktail_path(cocktail.id) %>
      </div>
      <% end %>
    </div>
  </div>
</div>